<!-- Register Form -->
<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
  <label for="name">Name:</label>
  <input type="text" id="name" formControlName="FirstName">
  
  <label for="email">Email:</label>
  <input type="email" id="email" formControlName="email">
  <label for="name">Mobile:</label>
  <input type="text" id="name" formControlName="mobile">

  <label for="password">Password:</label>
  <input type="password" id="password" formControlName="password">

  <label for="confirm-password">Confirm Password:</label>
  <input type="password" id="confirm-password" formControlName="confirmPassword">

  <button type="submit">Register</button>
</form>

<!-- Login Form -->
<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
  <label for="email">Email:</label>
  <input type="email" id="email" formControlName="email">

  <label for="password">Password:</label>
  <input type="password" id="password" formControlName="password">

  <button type="submit">Login</button>
</form>
